PORT=8080
MONGO_URL=mongodb+srv://dbUser:passwordUser@codercluster.lwivk.mongodb.net/?retryWrites=true&w=majority&appName=CoderCluster
ADMIN_NAME=adminCoder
ADMIN_PASSWORD=adminCoder
JWT_SECRET=coder_jwt
SECRET_PASSPORT=secret_passport
MAIL=tu-mail@gmail.com
MAIL_PASS=xxxx xxxx xxxx xxxx
TWILIO_ACCOUNT_SID=AC5bb71b49c5c63d3bb04ab402cabf57a8x
TWILIO_AUTH_TOKEN=20e7ff02215e1d4eb1d10968b66d63d4
TWILIO_SMS_NUMBER=+12027336178
