PORT=8080
MONGO_URL=mongodb+srv://dbUser:passwordUser@codercluster.lwivk.mongodb.net/?retryWrites=true&w=majority&appName=CoderCluster
ADMIN_NAME=adminCoder
ADMIN_PASSWORD=adminCoder
JWT_SECRET=coder_jwt
SECRET_PASSPORT=secret_passport
MAIL=tu-mail@gmail.com
MAIL_PASS=xxxx xxxx xxxx xxxx
"TWILIO_ACCOUNT_SID=xxx"
"TWILIO_AUTH_TOKEN=xxx"
TWILIO_SMS_NUMBER=+12027336178
