<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesi칩n</title>
    <link rel="stylesheet" href="/styles.css">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesi칩n</title>

</head>
<body>
    <div class="form-container">
<h2>Registro</h2>
<form action="/api/sessions/register" method="POST">
    <label for="first_name">Nombre:</label>
    <input type="text" name="first_name" required>
    <label for="last_name">Apellido:</label>
    <input type="text" name="last_name" required>
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="age">Edad:</label>
    <input type="number" name="age" required>
    <label for="password">Contrase침a:</label>
    <input type="password" name="password" required>
    <button type="submit">Registrarse</button>
</form>
<a href="/login">Iniciar sesi칩n</a>
</div>
</body>
</html>
